$button_color: #00C851;
$button_color_border: #007E33;

body{
    text-align: center;
}

header{
    padding: 20px 0;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}

footer{
    font-size: 24px;
    text-align: center;
}

main{

    .tickets{
        .ticket{
            display: block;
            max-width: 353px;
            padding: 6px;
            margin: 0 auto 5px;
            background-color: #ccc;
            border-radius: 50px;

            &.loser{background-color: red;}
            &.winner1{background-color: darkgreen;}
            &.winner2{background-color:green;}
            &.winner3{background-color: #a8841c;}
            &.winner4{background-color: silver}
            &.winner5{background-color: goldenrod}

            span{
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                margin: 0 3px;
                vertical-align: middle;
                border-radius: 50%;
                background-color: #999;

                &.match {
                    background-color: green;
                }
            }
        }
    }

    .buttons{
        display: inline-block;
    }
    button{
        display: inline-block;
        padding: 20px 40px;
        margin: 0 0 10px;
        border: 0;
        border-radius: 20px;
        background-color: #00C851;
        color: #fff;
        box-shadow: 0 5px 3px rgba($button_color,0.5), 0 1px 1px rgba($button_color_border,1);

        &.skip{
            background-color: #ffbb33;
            box-shadow: 0 5px 3px rgba(#ffbb33,0.5), 0 1px 1px rgba(#FF8800,1);
        }

        &.big{
            display: block;
            width: 100%;
            background-color: #33b5e5;
            box-shadow: 0 5px 3px rgba(#33b5e5,0.5), 0 1px 1px rgba(#0099CC,1);
        }
    }
}